BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
AccessModifierOffset: -2
BreakBeforeBraces: Stroustrup
FixNamespaceComments: true
ColumnLimit: 100

SortIncludes: CaseSensitive
IncludeBlocks: Regroup

# TODO: do we want to keep the main header (i.e. the header matching the current implementation file) uniquely sorted to the top?
# This is not specified in the guidance docs, but is used by both google and llvm, and is the clang-format default.
IncludeCategories:
  # System/STL
  - Regex:    '^(<|")(([^.]+)|(std.*\.h))(>|")$'
    Priority: 1

  # Dependencies
  # TODO: should ARTIQ, RTIO, OQC, OQD, OPENQASM* be included here? 
  #   - Are they internal enough to be included in local headers? 
  #   - Should they be sorted in a unique category for quantum dependencies/collaborations?
  - Regex:    '^(<|")(llvm|mlir|stablehlo|Enzyme|catch2|pybind11|nanobind|toml\+\+|nlohmann|stim|gtest|boost|dlfcn)(.*)\.([hcp]+)(>|")$'
    Priority: 2

  # Local headers
  # TODO do we want to explicitly list our header prefixes (ex. Quantum, PBC, Gradient) or leave this as a catch-all?
  # Listing would allow a separate catch-all that would identify unsorted headers, but requires more maintenance.
  - Regex:    '^(<|")(.*)\.([hcp]+)(>|")$'
    Priority: 3
