# Build directories
build
__pycache__
pennylane_catalyst.egg-info
*.so
.dylibs

# Testing files and directories
.lit
.pytest_cache

# Packaging directories
dist
frontend/catalyst/bin
frontend/catalyst/lib
frontend/catalyst/_revision.py
frontend/mlir_quantum

# IDEs
.vscode
.idea

# Documentation
doc/_build
doc/code/api
.ipynb*

# Development
venv

# Cache files
.cache

# Standalone-plugin example
mlir/standalone
