# Build directories
build
__pycache__
pennylane_catalyst.egg-info
*.so
*.dylib
.dylibs

# Testing files and directories
.lit
.pytest_cache
__pennylane_resources_data_*.json

# Packaging directories
dist
frontend/bin
frontend/catalyst/lib
frontend/catalyst/_revision.py
frontend/mlir_quantum
frontend/cmake-build
frontend/catalyst/include

# IDEs
.vscode
.idea

# Documentation
doc/_build
doc/code/api
.ipynb*

# Development
venv
.venv

# Cache files
.cache

# Standalone-plugin example
mlir/standalone

# macOS
.DS_Store
