[MASTER]
# A comma-separated list of package or module names from where C extensions may
# be loaded. Extensions are loading into the active Python interpreter and may
# run arbitrary code
extension-pkg-allow-list=catalyst.utils.wrapper

[TYPECHECK]

# List of module names for which member attributes should not be checked
# (useful for modules/projects where namespaces are manipulated during runtime
# and thus existing member attributes cannot be deduced by static analysis. It
# supports qualified module names, as well as Unix pattern matching.
ignored-modules=pennylane.ops,jaxlib.mlir.ir,jaxlib.xla_extension

# List of classes names for which member attributes should not be checked
# (useful for classes with attributes dynamically set). This supports can work
# with qualified names.
; ignored-classes=

# List of file/directory patters to ignore.
ignore=test,llvm-project,mlir-hlo,Enzyme,.git,__pycache__,build,doc,_revision.py

# List of decorators that change a function's signature. Will ignore certain errors
# like 'no-value-for-parameter' on functions with these decorators.
signature-mutators=catalyst.api_extensions.control_flow.for_loop

[MESSAGES CONTROL]

# Enable the message, report, category or checker with the given id(s). You can
# either give multiple identifier separated by comma (,) or put this option
# multiple time.
enable=useless-suppression

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifier separated by comma (,) or put this option
# multiple time (only on the command line, not in the configuration file where
# it should appear only once).
# Cyclical import checks are disabled for now as they are frequently used in
# the code base, but this can be removed in the future once cycles are resolved.
disable=wrong-import-order,too-few-public-methods,invalid-name,too-many-locals,cyclic-import,import-error,no-else-return,unnecessary-ellipsis,duplicate-code,abstract-method,no-name-in-module

[MISCELLANEOUS]

# List of note tags to take in consideration, separated by a comma.
notes=
