# Due to a bug in `pip install -e .` vs read-only system-wide site-packages.
# Cannot be handled in pyproject.toml since it's too late at that point.
pip>=22.3

# Build dependencies for non-Python components
# Do not allow NumPy 2.0.0 due to a bug with their C API that blocks the usage of the Stable ABI;
# this bug was fixed in 2.0.1 (https://github.com/numpy/numpy/pull/26995)
numpy>2.0.0
# llvm requires nanobind 2.9 or higher
nanobind>=2.9
pybind11>=2.12.0
PyYAML

# Compiler toolchain available via PIP
cmake>=3.26
ninja

# formatting/linting
black==25.9.0
clang-format~=20.1
clang-tidy~=20.1
pylint~=4.0.0
isort~=7.0.0

# testing
flaky
lit
pytest
pytest-xdist
pytest-cov
pytest-mock
nbmake
filecheck

# optional rt/test dependencies
pennylane-lightning-kokkos
amazon-braket-pennylane-plugin>1.27.1; python_version < "3.14"
pydot # Graph visualization backend requirement
matplotlib # Graph visualization frontend requirement
graphviz # Graph visualization backend requirement
