# Due to a bug in `pip install -e .` vs read-only system-wide site-packages.
# Cannot be handled in pyproject.toml since it's too late at that point.
pip>=22.3

# Build dependencies for non-Python components
# Do not allow NumPy 2.0.0 due to a bug with their C API that blocks the usage of the Stable ABI;
# this bug was fixed in 2.0.1 (https://github.com/numpy/numpy/pull/26995)
nanobind
numpy!=2.0.0
pybind11>=2.12.0
PyYAML

# formatting/linting
black
clang-format==14.*
clang-tidy~=16.0
pylint
isort

# testing
flaky
lit
pytest
pytest-xdist
pytest-cov
pytest-mock
nbmake

# optional rt/test dependencies
pennylane-lightning-kokkos
amazon-braket-pennylane-plugin>1.27.1
