# build dependencies
pip>=22.3 # Due to a bug in `pip install -e .` vs read-only system-wide site-packages

numpy
pybind11>=2.8.0
PyYAML

# formatting/linting
black
clang-format==14.*
clang-tidy==14.*
pylint
isort

# testing
lit
pytest
pytest-xdist
pytest-cov
pytest-mock
nbmake

# optional rt/test dependencies
pennylane-lightning[kokkos]
amazon-braket-pennylane-plugin>=1.23.0
lark
optax
