docutils==0.16
sphinxcontrib-bibtex
sphinx==4.5.0
ipykernel
nbsphinx==0.7
Jinja2==3.1.2
version_information
sphinx-copybutton
markupsafe==2.1.1
pennylane-sphinx-theme
nbconvert
pygments
breathe
ipython==8.10.0
sphinx-automodapi
exhale>=0.3.3
graphviz
pybind11
m2r2
