docutils==0.20
sphinxcontrib-bibtex==2.6.3
sphinx==8.1
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-serializinghtml==2.0.0
sphinx-copybutton
ipykernel
nbsphinx==0.9.7
Jinja2==3.1.4
version_information
sphinx-copybutton
sphinx-tabs
markupsafe==3.0.2
pennylane-sphinx-theme
nbconvert
pygments
breathe
ipython==8.36.0
sphinx-automodapi
exhale>=0.3.7
graphviz
pybind11
m2r2
mistune==0.8.4
sphinxext-opengraph==0.9.0
matplotlib==3.8.0
lxml_html_clean

# Pre-install PL development wheels
--extra-index-url https://test.pypi.org/simple/
pennylane-lightning-kokkos==0.42.0
pennylane-lightning==0.42.0
pennylane==0.43.0.dev8
