name: Build Release Branch Nightly for TestPyPI

on:
  schedule:
    # Run from Jan 6th to Jan 11th at 02:00 UTC (10:00 PM EDT)
    - cron: "0 2 6-11 1 *"
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to build from'
        required: true
        default: 'v0.14.0-rc'

jobs:
  setup:
    name: Setup the release
    runs-on: ubuntu-24.04-arm
    outputs:
      rc_branch: ${{ steps.check_rc.outputs.rc_branch }}
      branch_exists: ${{ steps.check_rc.outputs.branch_exists }}
    steps:
    - name: Checkout Catalyst repo
      uses: actions/checkout@v4

    - name: Set branch
      id: set_branch
      run: echo "branch=${{ github.event.inputs.branch || 'v0.14.0-rc' }}" >> $GITHUB_OUTPUT

    - name: Check for RC branch
      id: check_rc
      run: |
        VERSION=$(python setup.py --version)
        IFS=. read MAJ MIN PAT <<< "${VERSION%.dev[0-9]*}"
        RC_BRANCH="v${MAJ}.$((MIN-1)).${PAT}-rc0"
        if git ls-remote --exit-code origin "refs/heads/$RC_BRANCH"; then
          echo "branch_exists=true" >> $GITHUB_OUTPUT
          echo "rc_branch=sc-111637-sync-rc" >> $GITHUB_OUTPUT  # TODO: Change back to RC_BRANCH
          echo "Found rc branch: $RC_BRANCH"
        else
          echo "branch_exists=false" >> $GITHUB_OUTPUT
        fi

    - name: Checkout Catalyst repo release branch
      uses: actions/checkout@v4
      with:
        ref: ${{ steps.check_rc.outputs.rc_branch }}
        ssh-key: ${{ secrets.NIGHTLY_VERSION_UPDATE_DEPLOY_KEY }}

    - name: Bump RC version
      run: |
        python $GITHUB_WORKSPACE/.github/workflows/set_rc_version.py

    - name: Push new version
      run: |
        git config --global user.email '${{ secrets.AUTO_UPDATE_VERSION_RINGO_EMAIL }}'
        git config --global user.name "ringo-but-quantum"
        git add $GITHUB_WORKSPACE/frontend/catalyst/_version.py
        git commit -m "[no ci] bump nightly rc version"
        # git push

  # Only build the most popular configurations on a nightly schedule to save PyPI storage.

  linux-x86:
    name: Build on Linux x86-64
    if: ${{ needs.setup.check_rc.outputs.branch_exists == 'true' }}
    needs: [setup]
    uses: ./.github/workflows/build-wheel-linux-x86_64.yaml
    with:
      branch: ${{ needs.setup.outputs.rc_branch }}

  linux-aarch:
    name: Build on Linux aarch64
    if: ${{ needs.setup.check_rc.outputs.branch_exists == 'true' }}
    needs: [setup]
    uses: ./.github/workflows/build-wheel-linux-arm64.yaml
    with:
      branch: ${{ needs.setup.outputs.branch }}

  macos-arm:
    name: Build on macOS arm64
    if: ${{ needs.setup.check_rc.outputs.branch_exists == 'true' }}
    needs: [setup]
    uses: ./.github/workflows/build-wheel-macos-arm64.yaml
    with:
      branch: ${{ needs.setup.outputs.branch }}

  upload:
    name: Prepare & Upload wheels to TestPyPI
    if: ${{ needs.setup.check_rc.outputs.branch_exists == 'true' }}
    needs: [linux-x86, macos-arm, linux-aarch]
    runs-on: ubuntu-24.04
    permissions:
      id-token: write  # IMPORTANT: mandatory for trusted publishing

    steps:
    - name: Download wheels
      uses: actions/download-artifact@v4
      with:
        merge-multiple: true
        path: dist

    - name: Install rename
      run: |
        sudo apt install rename

    - name: Prepare wheels
      run: |
        rename "s/linux/manylinux_2_28/" dist/pennylane_catalyst-*
        rename "s/macosx_14_0_universal2/macosx_13_0_arm64/" dist/pennylane_catalyst-*
        rename "s/macosx_14/macosx_13/" dist/pennylane_catalyst-*

    # - name: Upload wheels
    #   uses: pypa/gh-action-pypi-publish@release/v1
    #   with:
    #     repository-url: https://test.pypi.org/legacy/
    #     packages-dir: dist
    #     verbose: true

  trigger-pennylane-rc-release:
    name: Trigger PennyLane RC release workflow
    # if: ${{ steps.check_rc.outputs.branch_exists == 'true' }}
    needs: [upload, setup]
    runs-on: ubuntu-24.04

    steps:
    - name: Trigger PennyLane release workflow
      env:
        GITHUB_TOKEN: "${{ secrets.PENNYLANE_TRIGGER_RC_WORKFLOW }}"    
      run: |
        gh workflow run upload-nightly-rc-release.yml \
          --repo PennyLaneAI/pennylane \
          --ref sc-111648-sync-rc-release
