on:
  pull_request:
    types: [ready_for_review, review_requested]
  pull_request_review:
    types: [submitted]

name: Changelog Reminder

jobs:
  check_not_draft_pr:
    uses: ./.github/workflows/check-for-draft-pr.yaml

  remind:
    needs: check_not_draft_pr
    name: Changelog Reminder
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Changelog Reminder
      uses: peterjgrainger/action-changelog-reminder@v1.3.0
      with:
        changelog_regex: 'doc/changelog.md'
        customPrMessage: |
          Hello. You may have forgotten to update the changelog!
          Please edit [`doc/changelog.md`](/PennyLaneAI/catalyst/blob/master/doc/changelog.md) on your branch with:
          * A one-to-two sentence description of the change. You may include a small working example for new features.
          * A link back to this PR.
          * Your name (or GitHub username) in the contributors section.
      env:
        GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
