name: Check PennyLane/Lightning Compatibility

on:
  workflow_call:
    inputs:
      catalyst:
        required: true
        type: string
      pennylane:
        required: true
        type: string
      lightning:
        required: true
        type: string

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  constants:
    name: "Set build matrix"
    uses: ./.github/workflows/constants.yaml
    with:
      use_release_tag: ${{ inputs.catalyst == 'stable' }}

  check-config:
    name: Build Configuration
    needs: [constants]
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout Catalyst repo
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - if: ${{ inputs.catalyst == 'stable' }}
      run: |
        git checkout $(git tag | sort -V | tail -1)
    - if: ${{ inputs.catalyst == 'release-candidate' }}
      run: |
        # For rc, we install all packages from TestPyPI.
        # The purpose of checkout here is to locate the commit where the previous rc Catalyst
        # was built and uploaded to TestPyPI, so that the tests are the compatible ones
        # to be run with the latest rc/rc/rc packges on TestPyPI.
        # This would be the last autobump-and-upload commit made on the rc branch.
        git checkout v0.14.0-rc
        git checkout "$(git log -1 --author="ringo-but-quantum" --pretty=format:%H)"

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ needs.constants.outputs.primary_python_version }}

    - name: Install deps
      if: ${{ inputs.catalyst == 'latest' }}
      run: |
        sudo apt-get update
        sudo apt-get install -y ccache libasan6 lld graphviz

    - name: Install deps (Python)
      run: |
        python3 --version | grep ${{ needs.constants.outputs.primary_python_version }}
        python3 -m pip install -r requirements.txt
        pip install amazon-braket-pennylane-plugin
        echo "AWS_DEFAULT_REGION=us-east-1" >> $GITHUB_ENV

    - name: Get Catalyst Build Dependencies (latest)
      uses: actions/cache/restore@v4
      if: ${{ inputs.catalyst == 'latest' }}
      with:
        path: mlir/llvm-project
        key: llvm-${{ needs.constants.outputs.llvm_version }}-default-source
        enableCrossOsArchive: True
        fail-on-cache-miss: True
    - uses: actions/cache/restore@v4
      if: ${{ inputs.catalyst == 'latest' }}
      with:
        path: llvm-build
        key: ${{ runner.os }}-llvm-${{ needs.constants.outputs.llvm_version }}-ci-build-gcc
        fail-on-cache-miss: True
    - uses: actions/cache/restore@v4
      if: ${{ inputs.catalyst == 'latest' }}
      with:
        path: mlir/stablehlo
        key: stablehlo-${{ needs.constants.outputs.stablehlo_version }}-default-source
        enableCrossOsArchive: True
        fail-on-cache-miss: True
    - uses: actions/cache/restore@v4
      if: ${{ inputs.catalyst == 'latest' }}
      with:
        path: stablehlo-build
        key: ${{ runner.os }}-stablehlo-${{ needs.constants.outputs.stablehlo_version }}-ci-build-gcc
        fail-on-cache-miss: True
    - uses: actions/cache/restore@v4
      if: ${{ inputs.catalyst == 'latest' }}
      with:
        path:  mlir/Enzyme
        key: enzyme-${{ needs.constants.outputs.enzyme_version }}-default-source
        enableCrossOsArchive: True
        fail-on-cache-miss: True
    - uses: actions/cache@v4
      if: ${{ inputs.catalyst == 'latest' }}
      with:
        path: enzyme-build
        key: ${{ runner.os }}-enzyme-${{ needs.constants.outputs.llvm_version }}-${{ needs.constants.outputs.enzyme_version }}-ci-build-gcc
        fail-on-cache-miss: True
    - uses: actions/cache/restore@v4
      if: ${{ inputs.catalyst == 'latest' }}
      with:
        path: .ccache
        key: ${{ runner.os }}-ccache-${{ github.run_id }}
        restore-keys: ${{ runner.os }}-ccache-

    - name: Install Catalyst (stable)
      if: ${{ inputs.catalyst == 'stable' }}
      run: |
        sudo apt-get install -y graphviz
        pip install pennylane-catalyst

    - name: Install Catalyst (latest)
      if: ${{ inputs.catalyst == 'latest' }}
      run: |
        CCACHE_DIR="$(pwd)/.ccache" \
        C_COMPILER=$(which gcc }}) \
        CXX_COMPILER=$(which g++ }}) \
        ENABLE_LLD=ON \
        RT_BUILD_DIR="$(pwd)/runtime-build" \
        LLVM_BUILD_DIR="$(pwd)/llvm-build" \
        STABLEHLO_BUILD_DIR="$(pwd)/stablehlo-build" \
        ENZYME_BUILD_DIR="$(pwd)/enzyme-build" \
        DIALECTS_BUILD_DIR="$(pwd)/quantum-build" \
        ENABLE_OPENQASM=ON \
        make catalyst

    - name: Install Catalyst (release-candidate)
      if: ${{ inputs.catalyst == 'release-candidate' }}
      run: |
        # This is the first for the three rc installs
        # Thus this one shouldn't have no-deps: it needs to pull in all PL dependencies
        # And also this one needs to be --extra-index-url because it needs to see regular PyPI
        sudo apt-get install -y graphviz
        pip install --extra-index-url https://test.pypi.org/simple/ pennylane-catalyst'>=0.14.0rc0,<=0.14.0'

    - name: Install PennyLane-Lightning (stable)
      if: ${{ inputs.lightning == 'stable' }}
      run: |
        pip install --no-deps --force pennylane-lightning
        pip install --no-deps --force pennyLane-lightning-kokkos

    - name: Download PennyLane-Lightning (latest)
      if: ${{ inputs.lightning == 'latest' }}
      uses: actions/checkout@v4
      with:
        repository: PennyLaneAI/pennylane-lightning
        ref: master
        path: lightning_build
        fetch-depth: 0

    - name: Install PennyLane-Lightning (release-candidate)
      if: ${{ inputs.lightning == 'release-candidate' }}
      run: |
        # Do not overwrite any dependencies, just fetch rc package from TestPyPI
        pip install --no-deps --pre -U --index-url https://test.pypi.org/simple/ pennylane-lightning'>=0.44.0rc0,<=0.44.0'
        pip install --no-deps --pre -U --index-url https://test.pypi.org/simple/ pennylane-lightning-kokkos'>=0.44.0rc0,<=0.44.0'

    # PennyLane doesn't update its dev version number on every commit like Lightning, so we need to
    # force the package to be re-installed. First, handle potential dependency changes, then force
    # install the package itself.
    - name: Install PennyLane (latest)
      if: ${{ inputs.pennylane == 'latest' }}
      run: |
        pip install --no-deps --force git+https://github.com/PennyLaneAI/pennylane@master

    - name: Install PennyLane (stable)
      if: ${{ inputs.pennylane == 'stable' }}
      run: |
        pip install --no-deps --force pennylane

    - name: Install PennyLane (release-candidate)
      if: ${{ inputs.pennylane == 'release-candidate' }}
      run: |
        # Do not overwrite any dependencies, just fetch rc package from TestPyPI
        pip install --no-deps --pre -U --index-url https://test.pypi.org/simple/ pennylane'>=0.44.0rc0,<=0.44.0'

    - name: Add Frontend Dependencies to PATH
      if: ${{ inputs.catalyst == 'latest' }}
      run: |
        echo "PYTHONPATH=$PYTHONPATH:$(pwd)/quantum-build/python_packages/quantum" >> $GITHUB_ENV
        echo "RUNTIME_LIB_DIR=$(pwd)/runtime-build/lib" >> $GITHUB_ENV
        echo "MLIR_LIB_DIR=$(pwd)/llvm-build/lib" >> $GITHUB_ENV
        echo "CATALYST_BIN_DIR=$(pwd)/quantum-build/bin" >> $GITHUB_ENV
        chmod +x $(pwd)/quantum-build/bin/catalyst  # artifact upload does not preserve permissions

    - name: Run Frontend Tests
      run: |
        make pytest

    - name: Run Frontend Tests (Kokkos)
      run: |
        make pytest TEST_BACKEND="lightning.kokkos" XDSL_TESTS=OFF

    - name: Run Frontend Tests (Braket)
      run: |
        # make pytest TEST_BRAKET=LOCAL

    - name: Run Demos
      run: | # Do not run demos in parallel, seems to cause package issues with numpy.
        # Some demos fail with optax dependency pulling in latest jax
        # We skip them for now. These demos should be properly moved to the qml repo.
        MDD_BENCHMARK_PRECISION=1 \
        python3 -m pytest demos -k "tutorial_qft_arithmetics.ipynb" --nbmake
