name: Check Runtime Build

on:
  pull_request:
    branches: [ main ]

env:
  OMP_NUM_THREADS: "2"

jobs:
  runtime-tests:
    strategy:
      matrix:
        os: [ubuntu-22.04]
        simulator: ['lightning', 'lightning-kokkos']

    name: Runtime Tests (Linux)
    runs-on: ${{ matrix.os }}

    steps:
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.11.0
        with:
          access_token: ${{ github.token }}

      - name: Checkout the repo
        uses: actions/checkout@v3

      - name: Install dependencies
        run: sudo apt-get -y -q install cmake ninja-build gcc-10 g++-10 libomp-dev lcov

      - name: Install rustup with llvm-tools-preview
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: llvm-tools-preview

      - name: Install QIR-stdlib
        run: |
            cd ./runtime/qir-stdlib
            cargo build --release --verbose
            mkdir -p ../build-qir-stdlib/include
            cp ./target/release/libqir_stdlib.a ../build-qir-stdlib/
            cp ./target/release/build/include/* ../build-qir-stdlib/include/
            cargo clean

      - name: Build Runtime test suite for Lightning simulator
        if: ${{ matrix.simulator == 'lightning' }}
        run: |
            cmake -S runtime -B build -DCMAKE_BUILD_TYPE=Debug \
                                      -DENABLE_LIGHTNING_KOKKOS=OFF \
                                      -DCMAKE_C_COMPILER=$(which gcc-10) \
                                      -DCMAKE_CXX_COMPILER="$(which g++-10)" \
                                      -DQIR_STDLIB_LIB="$(pwd)/runtime/build-qir-stdlib/" \
                                      -DQIR_STDLIB_INCLUDES="$(pwd)/runtime/build-qir-stdlib/include/" \
                                      -DENABLE_CODE_COVERAGE=ON \
                                      -G Ninja
            cmake --build build --target runner_tests -j$(nproc)

      - name: Build Runtime test suite for Lightning-Kokkos simulator
        if: ${{ matrix.simulator == 'lightning-kokkos' }}
        run: |
            cmake -S runtime -B build -DCMAKE_BUILD_TYPE=Release \
                                      -DENABLE_LIGHTNING_KOKKOS=ON \
                                      -DCMAKE_C_COMPILER=$(which gcc-10) \
                                      -DCMAKE_CXX_COMPILER="$(which g++-10)" \
                                      -DQIR_STDLIB_LIB="$(pwd)/runtime/build-qir-stdlib/" \
                                      -DQIR_STDLIB_INCLUDES="$(pwd)/runtime/build-qir-stdlib/include/" \
                                      -G Ninja
            cmake --build build --target runner_tests -j$(nproc)

      - name: Run tests
        run: |
            ./build/tests/runner_tests -s

      - name: Runtime Code Coverage
        if: ${{ matrix.simulator == 'lightning' }}
        run: |
            lcov --directory build -b ./runtime/lib --capture --output-file build/coverage.info
            lcov --remove build/coverage.info '/usr/*' '*/_deps/*' --output-file build/coverage.info
            mv build/coverage.info coverage-${{ github.job }}.info

      - name: Upload code coverage results
        if: ${{ matrix.simulator == 'lightning' }}
        uses: actions/upload-artifact@v3
        with:
          name: ubuntu-codecov-results-cpp
          path: ./coverage-${{ github.job }}.info

      - name: Build examples
        if: ${{ matrix.simulator == 'lightning' }}
        run: |
          cd ./runtime/examples && make all BUILD_DIR=../../build

      - name: Create tests report
        run: |
            mkdir -p ./build/tests/results
            ./build/tests/runner_tests --reporter junit --out ./build/tests/results/tests_result.xml

      - name: Upload tests
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: runtime-linux-test-report
          path: ./build/tests/results/tests_result.xml

  upload-to-codecov-linux-cpp:
    needs: [runtime-tests]
    name: Upload coverage data to codecov
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Download coverage reports
        uses: actions/download-artifact@v3
        with:
          name: ubuntu-codecov-results-cpp

      - name: Upload to Codecov
        uses: codecov/codecov-action@v3
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
