name: Check Code Formatting

on:
  pull_request:
    types:
      - ready_for_review
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check_not_draft_pr:
    uses: ./.github/workflows/check-for-draft-pr.yaml

  format-python:
    needs: check_not_draft_pr
    name: Python Formatting & Linting
    runs-on: ubuntu-latest

    steps:
      - name: Install dependencies
        run: pip install black isort pylint

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run black formatter
        run: black --check --verbose .

      - name: Run isort formatter
        run: isort --check --diff .

      - name: Run pylint
        run: pylint --errors-only frontend

  format-cpp:
    needs: check_not_draft_pr
    name: C++ Formatting
    runs-on: ubuntu-latest

    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get -y install clang-format-14

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run clang-format
        run: python3 ./bin/format.py --check --verbose --cfversion 14 .
