name: Verify xDSL Dialects
on:
  workflow_dispatch:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  constants:
    name: Set Constants
    if: >-
      ${{
        ( github.event_name == 'pull_request'
        && github.event.pull_request.draft == false
        && contains(github.event.pull_request.labels.*.name, 'unified compiler') )
        || github.event_name == 'workflow_dispatch'
      }}
    uses: ./.github/workflows/constants.yaml
    with:
      runs_on: ubuntu-24.04

  compare-dialects:
    name: Compare xDSL and MLIR Dialects
    needs: constants
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        compiler: ${{ fromJson(needs.constants.outputs.compilers) }}

    steps:
    - name: Checkout Catalyst
      uses: actions/checkout@v4
      with:
        submodules: true

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ needs.constants.outputs.primary_python_version }}

    - name: Get Cached LLVM Build
      id: cache-llvm-build
      uses: actions/cache/restore@v4
      with:
        path: llvm-build
        key: ${{ runner.os }}-llvm-${{ needs.constants.outputs.llvm_version }}-ci-build-${{ matrix.compiler }}
        fail-on-cache-miss: true

    - name: Install Catalyst and Dependencies
      env:
        BRANCH: ${{ github.event_name == 'pull_request' && github.head_ref || github.ref }}
      run: |
        # ruff is a dependency for the xdsl-tblgen CLI tool. Generally, it gets installed if
        # installing xdsl[dev], but we install it separately to simplify dependency installation
        python -m pip install ruff

        # Install Catalyst. We only want the frontend to be usable, so we use a minimal
        # source build using TestPyPI wheels
        # 1. Create Python environment
        python -m venv .catalyst_venv

        # 2. Install Catalyst
        bash ./setup_dev_from_wheel.sh ./.catalyst_venv $BRANCH

        # 3. Activate Python environment
        source ./.catalyst_venv/bin/activate

    - name: Create Python Dialects
      run: |
        OPTIONS="--llvm-build $(pwd)/llvm-build --catalyst-root $GITHUB_WORKSPACE --save-path $(pwd)/gen_dialects"
        python $GITHUB_WORKSPACE/.github/workflows/xdsl_scripts/create_xdsl_dialects.py $OPTIONS

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: gen_dialects
        path: gen_dialects

    - name: Verify Python Dialects
      run: |
        OPTIONS="--save-path $(pwd)/gen_dialects"
        python $GITHUB_WORKSPACE/.github/workflows/xdsl_scripts/verify_xdsl_dialects.py $OPTIONS


