name: Verify xDSL Dialects
on:
  workflow_dispatch:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  constants:
    name: Set Constants
    if: >-
      ${{
        ( github.event_name == 'pull_request'
        && github.event.pull_request.draft == false
        && contains(github.event.pull_request.labels.*.name, 'unified compiler') )
        || github.event_name == 'workflow_dispatch'
      }}
    uses: ./.github/workflows/constants.yml
    with:
      runs_on: ubuntu-24.04

  compare-dialects:
    name: Compare xDSL and MLIR Dialects
    needs: constants
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        compiler: ${{ fromJson(needs.constants.outputs.compilers) }}

    steps:
    - name: Checkout Catalyst
      uses: actions/checkout@v4
      with:
        submodules: true

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ needs.constants.outputs.primary_python_version }}

    - name: Install Catalyst and Dependencies
      env:
        BRANCH: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.sha || github.ref }}
      run: |
        make frontend

        # ruff is a dependency for the xdsl-tblgen CLI tool. Generally, it gets installed if
        # installing xdsl[dev], but we install it separately to simplify dependency installation
        python -m pip install ruff

    - name: Get Cached LLVM Build
      id: cache-llvm-build
      uses: actions/cache@v4
      with:
        path: llvm-build
        key: ${{ runner.os }}-llvm-${{ needs.constants.outputs.llvm_version }}-ci-build-${{ matrix.compiler }}
        fail-on-cache-miss: true

    - name: Download Quantum Build Artifact
      uses: actions/download-artifact@v4
      with:
        name: quantum-build-${{ matrix.compiler }}
        path: quantum-build

    - name: Add Frontend Dependencies to PATH
      run: |
        echo "$(pwd)/llvm-build/bin" >> $GITHUB_PATH
        echo "PYTHONPATH=$PYTHONPATH:$(pwd)/quantum-build/python_packages/quantum" >> $GITHUB_ENV
        echo "MLIR_LIB_DIR=$(pwd)/llvm-build/lib" >> $GITHUB_ENV
        echo "CATALYST_BIN_DIR=$(pwd)/quantum-build/bin" >> $GITHUB_ENV
        echo "DIALECTS_BUILD_DIR=$(pwd)/quantum-build" >> $GITHUB_ENV
        echo "LLVM_BUILD_DIR=$(pwd)/llvm-build" >> $GITHUB_ENV
        chmod +x $(pwd)/quantum-build/bin/catalyst  # artifact upload does not preserve permissions

    - name: Create Reference xDSL Dialects
      run: |
        OPTIONS="--llvm-build $(pwd)/llvm-build --catalyst-root $GITHUB_WORKSPACE --save-path $(pwd)/gen_dialects"
        python $GITHUB_WORKSPACE/.github/workflows/xdsl_scripts/create_xdsl_dialects.py $OPTIONS

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: gen_dialects
        path: gen_dialects

    - name: Verify xDSL Dialects
      run: |
        OPTIONS="--save-path $(pwd)/gen_dialects"
        python $GITHUB_WORKSPACE/.github/workflows/xdsl_scripts/verify_xdsl_dialects.py $OPTIONS


