name: Verify xDSL Dialects
on:
  workflow_dispatch:
  schedule:
    # Run Monday at 01:00 EDT (cron is in UTC)
    - cron: "0 5 * * 1"

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  constants:
    name: Set Constants
    uses: ./.github/workflows/constants.yml
    with:
      runs_on: ubuntu-24.04

  quantum:
    name: Quantum Dialects Build
    needs: [constants]
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        compiler: ${{ fromJson(needs.constants.outputs.compilers) }}

    steps:
    - name: Checkout Catalyst repo
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ needs.constants.outputs.primary_python_version }}

    - name: Install Deps
      run: |
        sudo apt-get update
        sudo apt-get install -y python3 python3-pip cmake ninja-build ccache clang lld
        python --version | grep ${{ needs.constants.outputs.primary_python_version }}
        python -m pip install numpy nanobind pybind11

    - name: Get Cached LLVM Source
      id: cache-llvm-source
      uses: actions/cache/restore@v4
      with:
        path: mlir/llvm-project
        key: llvm-${{ needs.constants.outputs.llvm_version }}-default-source
        enableCrossOsArchive: true
        fail-on-cache-miss: true

    - name: Get Cached LLVM Build
      id: cache-llvm-build
      uses: actions/cache/restore@v4
      with:
        path: llvm-build
        key: ${{ runner.os }}-llvm-${{ needs.constants.outputs.llvm_version }}-ci-build-${{ matrix.compiler }}
        fail-on-cache-miss: true

    - name: Get Cached Stablehlo Source
      id: cache-stablehlo-source
      uses: actions/cache/restore@v4
      with:
        path: mlir/stablehlo
        key: stablehlo-${{ needs.constants.outputs.stablehlo_version }}-default-source
        enableCrossOsArchive: true
        fail-on-cache-miss: true

    - name: Get Cached Stablehlo Build
      id: cache-stablehlo
      uses: actions/cache/restore@v4
      with:
        path: stablehlo-build
        key: ${{ runner.os }}-stablehlo-${{ needs.constants.outputs.stablehlo_version }}-ci-build-${{ matrix.compiler }}-0
        fail-on-cache-miss: true

    - name: Get Cached Enzyme Source
      id: cache-enzyme-source
      uses: actions/cache/restore@v4
      with:
        path:  mlir/Enzyme
        key: enzyme-${{ needs.constants.outputs.enzyme_version }}-default-source
        enableCrossOsArchive: true
        fail-on-cache-miss: true

    - name: Get Cached Enzyme Build
      id: cache-enzyme-build
      uses: actions/cache/restore@v4
      with:
        path: enzyme-build
        key: ${{ runner.os }}-enzyme-${{ needs.constants.outputs.llvm_version }}-${{ needs.constants.outputs.enzyme_version }}-ci-build-${{ matrix.compiler }}
        fail-on-cache-miss: true

    - name: Restore CCache on feature branches
      id: restore-ccache
      if: ${{ github.ref != 'refs/heads/main' }}
      uses: actions/cache/restore@v4
      with:
        path: .ccache
        key: ${{ runner.os }}-ccache-${{ github.run_id }}
        restore-keys: ${{ runner.os }}-ccache-

    - name: Build MLIR Dialects
      run: |
        CCACHE_DIR="$(pwd)/.ccache" \
        C_COMPILER=$(which ${{ needs.constants.outputs[format('c_compiler.{0}', matrix.compiler)] }}) \
        CXX_COMPILER=$(which ${{ needs.constants.outputs[format('cxx_compiler.{0}', matrix.compiler)] }}) \
        LLVM_BUILD_DIR="$(pwd)/llvm-build" \
        STABLEHLO_BUILD_DIR="$(pwd)/stablehlo-build" \
        ENZYME_BUILD_DIR="$(pwd)/enzyme-build" \
        DIALECTS_BUILD_DIR="$(pwd)/quantum-build" \
        make dialects

    - name: Upload Quantum Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: quantum-build-${{ matrix.compiler }}
        path: |
          quantum-build/bin
          quantum-build/python_packages/*
        retention-days: 1

    - name: Cache CCache on main branch
      id: save-ccache
      if: ${{ github.ref == 'refs/heads/main' }}
      uses: actions/cache/save@v4
      with:
        path: .ccache
        key: ${{ runner.os }}-ccache-${{ github.run_id }}

  compare-dialects:
    name: Compare xDSL and MLIR Dialects
    needs: [constants, quantum]
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        compiler: ${{ fromJson(needs.constants.outputs.compilers) }}

    steps:
    - name: Checkout Catalyst
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ needs.constants.outputs.primary_python_version }}

    - name: Install Catalyst and Dependencies
      run: |
        make frontend

        # ruff is a dependency for the xdsl-tblgen CLI tool. Generally, it gets installed if
        # installing xdsl[dev], but we install it separately to simplify dependency installation
        python -m pip install ruff

    - name: Get Cached LLVM Source
      id: cache-llvm-source
      uses: actions/cache/restore@v4
      with:
        path: mlir/llvm-project
        key: llvm-${{ needs.constants.outputs.llvm_version }}-default-source
        enableCrossOsArchive: true
        fail-on-cache-miss: true

    - name: Get Cached LLVM Build
      id: cache-llvm-build
      uses: actions/cache@v4
      with:
        path: llvm-build
        key: ${{ runner.os }}-llvm-${{ needs.constants.outputs.llvm_version }}-ci-build-${{ matrix.compiler }}
        fail-on-cache-miss: true

    - name: Download Quantum Build Artifact
      uses: actions/download-artifact@v4
      with:
        name: quantum-build-${{ matrix.compiler }}
        path: quantum-build

    - name: Add Frontend Dependencies to PATH
      run: |
        echo "$(pwd)/llvm-build/bin" >> $GITHUB_PATH
        echo "PYTHONPATH=$PYTHONPATH:$(pwd)/quantum-build/python_packages/quantum" >> $GITHUB_ENV
        echo "MLIR_LIB_DIR=$(pwd)/llvm-build/lib" >> $GITHUB_ENV
        echo "CATALYST_BIN_DIR=$(pwd)/quantum-build/bin" >> $GITHUB_ENV
        echo "DIALECTS_BUILD_DIR=$(pwd)/quantum-build" >> $GITHUB_ENV
        echo "LLVM_BUILD_DIR=$(pwd)/llvm-build" >> $GITHUB_ENV
        chmod +x $(pwd)/quantum-build/bin/catalyst  # artifact upload does not preserve permissions

    - name: Create Reference xDSL Dialects
      run: |
        OPTIONS="--llvm-build $(pwd)/llvm-build --catalyst-root $GITHUB_WORKSPACE --save-path $(pwd)/gen_dialects"
        python $GITHUB_WORKSPACE/.github/workflows/xdsl_scripts/create_xdsl_dialects.py $OPTIONS

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: gen_dialects
        path: gen_dialects

    - name: Verify xDSL Dialects
      run: |
        OPTIONS="--save-path $(pwd)/gen_dialects"
        python $GITHUB_WORKSPACE/.github/workflows/xdsl_scripts/verify_xdsl_dialects.py $OPTIONS


